<!DOCTYPE html>
<html lang="'en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Tech Blog</title>
        <link rel="stylesheet" href="/stylesheets.style.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>
                    <a href="/">The Tech Blog</a>
                </h1>
                <nav class="navbar mt-2">
                    {{#if loggedIn}}
                    <a href="/" class="navbar-item is-hoverable pt-1">Homepage</a>
                    <a href="/dashboard/create/" class="navbar-item pt1 mr-4">Create Post</a>
                    <button id="logout" class="button is-danger">Logout</button>
                    {{else}}
                    <a href="/" class="navbar-item pt-1"> Homepage</a>
                    <a href="/login" class="button is-primary"> Login</a>
                    {{/if}}
                </nav>

            </header>
            <main>
                {{{ body }}}
            </main>
            <footer>
                Thanks for visiting!
            </footer>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
    </body>
</html>