<div class="mb-5 pt-3">
    <a href="/dashboard/create/"><button id="create-post" class="button is-primary is-pulled-right">Create Post</button></a>

    <h2 class="title pb-4">Dashboard: Your Posts</h2>
    {{#if posts.length}}
</div>
<div>
{{#each posts as |post|}}
{{> post-info post}}

<a href="/dashboard/edit/{{post.id}}"><button class="button mb-5 ml-5 is-warning">Edit Post</button></a>
</div> 
{{/each}}

{{else}}
<h2 class="pb-4 has-text-centered is-italic">No Posts To Display</h2>
{{/if}}